@{
    ViewData["Title"] = "Success";     // this assigns what the title of the page will be called. We are calling it "Success"
}
@model MessageBoard.Models.MessageBoardWrapper  // this give the cshtml access to the entire MessageBoardWrapper model class (sort of like instantiation)

<div style="display: flex">
    <div style="margin: auto">
        @* The classes used below are from bootstrap *@
        <h1 class="text-success">Success! Welcome, @ViewBag.SessionUser.Username from ViewBag</h1>    @* @ViewBag.SessionUser allows us to access the session information in the cshtml. @ViewBag.SessionUser.Username gets specifically the Username *@
        <h2 class="text-info">Your email from the database is: @Model.LoggedUser.Email</h2>
        <h3 class="text-danger">All Users from the database</h3>
        <table class="table">
            <thead>
                <th>User Id</th>
                <th>Username</th>
                <th>Email</th>
            </thead>
            <tbody>
                @foreach (User user in Model.AllUsers)
                {
                    <tr>
                        <td>
                            @user.Id
                        </td>
                        <td>
                            @user.Username
                        </td>
                        <td>
                            @user.Email
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>    
</div>

@* Password used = Password#1 *@